<div class="mt-5">
    <div class="mb-4 d-flex align-items-center justify-content-between">
        <h1>List courses deleted</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{increase @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td class="text-end">
                        <button type="button" id="btn-restore" data-id="{{this._id}}" class="btn btn-outline-secondary">Restore</button>
                        <button type="button" class="btn btn-outline-danger ms-2" id="btnDeleteCourse" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#modalDeleteCourse">
                            Force Delete
                        </button>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <th class="text-center" colspan="4">
                        No courses deleted. 
                        <a class="text-decoration-none" href="/me/manage/courses">List my courses</a>
                    </th>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal confirm force delete-->
<div class="modal fade" id="modalDeleteCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure delete course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="btnConfirmDelete" class="btn btn-danger">Force Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="form-delete-course" method="POST"></form>
<form name="form-restore-course" method="POST"></form>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var btnRestore = $('#btn-restore')

        btnRestore.click(function(e) {
            var formRestore = document.forms['form-restore-course'];
            formRestore.setAttribute('action', '/course/' + $(this).data('id') + '/restore?_method=PATCH')
            formRestore.submit()
        })

        var idDelete;
        document.querySelector("#modalDeleteCourse").addEventListener('show.bs.modal', function (event) {
            idDelete = document.getElementById('btnDeleteCourse').getAttribute('data-id')
        })

        btnConfirmDelete.onclick = function() {
            var formDelete = document.forms['form-delete-course'];
            formDelete.setAttribute('action', '/course/' + idDelete + '/forceDelete?_method=DELETE')
            formDelete.submit()
        }
    })
</script>